{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block block_title %} User Profile {% endblock %}
{% block body_block %}

<h4 style="margin-bottom: 20px;">Update Password</h4>

{% if changed %}
    <div class="alert alert-success">
        Password has changed successfully !
    </div>
{% else %}
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-sm">Update Password</button>
    </form>
{% endif %}

{% endblock %}