{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Welcome To Home Page {% endblock  %}
{% block body_block %}

<div class="container my-5">
    <h2 class="my-5">Featured Products</h2>
    <div class="row">
        {% for product in object_list %}
            <div class="col-md-6 col-sm-12 col-lg-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/media/{{product.main_image}} " style="width:80% ; height:230px;">
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title"><a href="{% url 'app_shop:product_details' pk=product.pk %}">{{ product.name }} </a></h6>
                        <div class="action-wrap">
                            <div class="price-wrap h5">
                                <span class="price-new">&#2547; {{ product.price|floatformat:2 }}</span>
                                <span class="price-old"><strike>&#2547; {{ product.old_price|floatformat:2 }}</strike></span>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}