{% extends 'base.html' %} 
{% block title_block %} Product Details {% endblock title_block %} 
{% block body_block %}
    <div class="container my-5">
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div>
                                <a href="#"><img src="/media/{{object.main_image}}" alt="product image" style="width:450px"></a>
                            </div>
                        </div>
                    </article>
                </aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mp-3">{{object.name}}</h3>
                        <p class="price-detail-wrap">
                            <span>
                                <span class="currency">BDT &#2547;</span><span class="num">{{object.price}}</span>
                            </span>
                        </p>
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd>
                                <p>{{ object.detail_text|linebreaks }}</p>
                            </dd>
                        </dl>
                        <a href="{% url 'app_order:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase"><i class="fas fa-shopping-cart"> Add to Card</i></a>
                    </article>
                <aside>
                </aside>
            </div>
        </div>
    </div>
{% endblock body_block %}
