{% extends 'navbar.html' %}
{% block title_block %} {{user.user_profile.full_name}} (@{{user.username}})  {% endblock %}
{% block css_block %}
    <style>
        .crop{
            width: 200px;
            height: 200px;
            overflow: hidden;
            border: 4px solid rgb(47, 154, 255);
            border-radius: 5px;
            margin-left: 10px;
            margin-top: 5px;
        }
        .crop img{
            width: 400px;
            height: 300px;
            margin: -75px 0 0 -100px;
        }
    </style>
{% endblock %}

{% block body_block %}

<div class="row" style="padding-top: 40px;">

    <div class="col-sm-4">
        <center>
            {% if user.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic}} " width='180px' height="200px" class="rounded-circle">
            {% else %}
                <img src="/media/default.png" width='180px' height="200px" class="rounded-circle">
            {% endif %}
        </center>
    </div>
    <div class="col-sm-8">
        <h4>{{ user.username }} &nbsp; <a href="{% url 'app_login:edit_profile' %}" class="btn btn-light">Edit Profile</a> </h4>
        <h5>{{ user.post_author.count }} posts &nbsp; {{ user.following.count }} followers &nbsp; {{ user.follower.count }} following</h5>
        <br>
        <h5>{{ user.user_profile.full_name }}</h5>
        <p>{{ user.user_profile.description|linebreaks }}</p>
    </div>

</div>

<hr>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    new post
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Post a photo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
              {{ form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-sm">Post</button>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <br>
  <br>

<div class="row">
    {% for post in user.post_author.all %}
    <div class="crop">
        <img src="/media/{{ post.post_image }}" title="{{post.caption}}"> 
    </div>
    {% endfor %}
</div>

{% endblock %}