{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block block_title %} Blog Details {% endblock %}
{% block body_block %}

<div class="row">
    <div class="col-sm-6">
        <h4>{{ blog.blog_title }}</h4>
        <p><i>Published date : {{ blog.publish_date }}</i></p>
        <p><i>Updated date : {{ blog.update_date }}</i></p>
        <p>{{ blog.blog_like.count }} like | {{ blog.blog_comment.count }} comments</p>
    </div>
    <div class="col-sm-6">
        <img src="/media/{{blog.blog_image}}" alt="Image" width="100%">
    </div>
</div>

<p>{{ blog.blog_content|linebreaks }}</p>

<div>
    {% if not like %}
        <a href="{% url 'app_blog:like_post' slug=blog.slug %}">   <!----like functionality-->
            <i class="fa fa-thumbs-o-up fa-2x"><h6>Like</h6></i>
        </a>
    {% else %}
        <a href="{% url 'app_blog:unlike_post' pk=blog.pk %}">   <!----unlike functionality-->
            <i class="fa fa-thumbs-o-down fa-2x"><h6>Liked</h6></i>
        </a>
    {% endif %}
</div>

<div class="row">
    
    <div class="col-sm-6">
        <hr>
        <h4>Comments</h4>
        <br>
        {% for comment in blog.blog_comment.all %}
            <h6><a href="">@{{ comment.user }}</a> {{comment.comment}}</h6>
            <p style="font-size: small;"><i>{{comment.comment_date}}</i></p>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <form method="POST">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm">Comment</button>
        </form>
        <br>
        <br>
    </div>

</div>
{% endblock %}